/*定义变量*/
/*基础样式*/
a {
  text-decoration: none;
  color: #000;
}
/*头部样式*/
.navbar {
  margin-bottom: 0;
}
.wjs_header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.wjs_header .row {
  height: 100%;
  text-align: center;
}
.wjs_header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code {
  position: relative;
  display: block;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code > img {
  display: none;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 49px;
  transform: translate(-50%);
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 999;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code:hover > img {
  display: block;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-danger {
  background-color: #e92322;
  border-color: #e92322;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn {
  padding: 3px 15px;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-link {
  color: #666;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-link:hover {
  text-decoration: none;
}
/*导航条*/
.wjs_nav .navbar-brand {
  height: 90px;
  line-height: 40px;
  font-size: 24px;
  padding: 0;
  margin-right: 20px;
}
.wjs_nav .navbar-nav > .active > a {
  background-color: #f8f8f8;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > li > a {
  height: 90px;
  line-height: 60px;
  font-size: 16px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li a:focus {
  counter-reset: #777;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-toggle {
  margin-top: 33px;
}
/*轮播图*/
.wjs_banner .carousel-inner .mob_img {
  width: 100%;
}
.wjs_banner .carousel-inner .mob_img > img {
  width: 100%;
}
.wjs_banner .carousel-inner .pc_img {
  width: 100%;
  height: 410px;
  display: block;
  background-position: center center;
}
/*信息块*/
.wjs_info {
  padding: 30px;
}
.wjs_info .icon {
  font-size: 30px;
}
.wjs_info .media {
  margin: 0;
  padding: 30px;
}
.wjs_info .media > a:hover {
  color: #e92322;
  text-decoration: none;
}
/*预约块*/
.wjs_reverse {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 16px;
}
.wjs_reverse svg {
  font-size: 20px;
}
.wjs_reverse a {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_product {
  clear: both;
  background-color: #eee;
  padding: 10px;
}
.wjs_product .tabs_parent {
  width: 100%;
  overflow: hidden;
}
.wjs_product .nav-tabs {
  border-bottom: none;
}
.wjs_product .nav-tabs > li > a {
  height: 80px;
  line-height: 60px;
  background-color: #eee;
}
.wjs_product .nav-tabs > li > a:hover {
  background-color: #eee;
  border: none;
  border-bottom: 3px solid #e92322;
}
.wjs_product .nav-tabs .active a,
.wjs_product .nav-tabs .active a:hover,
.wjs_product .nav-tabs .active a:focus {
  background-color: #eee;
  border: none;
  border-bottom: 3px solid #e92322;
}
.wjs_product .tab-content .product_content {
  background-color: #fff;
  margin-top: 20px;
  height: 150px;
  box-sizing: border-box;
  position: relative;
}
.wjs_product .tab-content .product_content > .product_left {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
  padding-top: 10px;
  padding-right: 100px;
}
.wjs_product .tab-content .product_content > .product_left > h3 {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 6px;
}
.wjs_product .tab-content .product_content > .product_left .row {
  margin-right: -10px;
  margin-left: -10px;
}
.wjs_product .tab-content .product_content > .product_left .row .col-xs-6:nth-of-type(even) {
  text-align: right;
}
.wjs_product .tab-content .product_content > .product_right {
  position: absolute;
  height: 150px;
  right: 0;
  top: 0;
  width: 100px;
  border-left: 1px dashed #333;
  text-align: center;
  padding-top: 30px;
}
.wjs_product .tab-content .product_content > .product_right > b {
  font-size: 40px;
  color: #e92322;
}
.wjs_product .tab-content .product_content > .product_right > sub {
  color: #e92322;
  bottom: 0;
}
.wjs_product .tab-content .product_content > .product_right::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eee;
}
.wjs_product .tab-content .product_content > .product_right::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eee;
}
.wjs_product .tab-content .product_content > .product_right .wjs_ti {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%);
}
.wjs_product .tab-content .product_content > .product_right .wjs_ti span {
  color: #e92322;
  border: 1px solid #e92322;
  padding: 2px;
}
.wjs_product .tab-content .active2 {
  background-color: #e92322 !important;
  color: #fff;
}
.wjs_product .tab-content .active2 > .product_right {
  color: #fff;
}
.wjs_product .tab-content .active2 > .product_right b {
  color: #fff;
}
.wjs_product .tab-content .active2 > .product_right sub {
  color: #fff;
}
/*新闻模块*/
.wjs_news {
  background-color: #bbb;
  padding: 20px;
}
.wjs_news .wjs_title {
  line-height: 50px;
  font-style: 26px;
  border-bottom: 1px solid #000;
  text-align: center;
  position: relative;
}
.wjs_news .wjs_title::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  position: absolute;
  right: -8px;
  bottom: -4px;
}
.wjs_news .wjs_line {
  width: 1px;
  height: 100%;
  border: 1px dashed #e92322;
  position: absolute;
  left: 45px;
  top: 0;
}
.wjs_news .nav-tabs > li {
  margin-bottom: 60px;
}
.wjs_news .nav-tabs > li > a {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
}
.wjs_news .nav-tabs > li > a .icon {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  color: #666;
}
.wjs_news .nav-tabs > li > a:hover {
  background-color: #e92322;
  border: none;
}
.wjs_news .nav-tabs > li > a:hover .icon {
  color: #fff;
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active a:hover,
.wjs_news .nav-tabs > li.active a:focus {
  background-color: #e92322;
  border: none;
}
.wjs_news .nav-tabs > li.active > a .icon,
.wjs_news .nav-tabs > li.active a:hover .icon,
.wjs_news .nav-tabs > li.active a:focus .icon {
  color: #fff;
}
.wjs_news .nav-tabs > li:nth-last-of-type(1) {
  margin: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 30px;
  }
  .wjs_news .nav-tabs > li:nth-last-of-type(1) {
    margin: 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 0px;
    width: 25%;
  }
  .wjs_news .nav-tabs > li:nth-last-of-type(1) {
    margin: 20px 0px;
    width: 25%;
  }
}
/*合作伙伴*/
.wjs_partner {
  background-color: #eee;
  text-align: center;
}
.wjs_partner h3 {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.wjs_partner ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
}
.wjs_partner ul > li {
  float: left;
  font-size: 80px;
  margin: 0 20px;
}
